footer {
    margin-top: 4rem;
}

footer .social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

footer .social img {
    width: 2rem;
}

footer .social a {
    text-decoration: none;
    border-bottom: none;
}

footer .resources {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    font-size: 0.8em;
}

footer .resources a {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px solid #444;
}