
.social {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    margin-top: 1rem;
}

.social img {
    width: 2rem;
}

.social a {
    text-decoration: none;
    border-bottom: none;
}