.item {
    border-top: 1px solid #000;
}

.item .content,
.content-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0 8rem;
}

.item img {
    max-width: 10rem;
}


.content-desc img {
    max-width: 30rem;
}

@media (max-width: 40rem) {
    .content-desc img {
        max-width: 100%;
    }
}

.item .title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item a {
    color: #888;
    text-decoration: none;
    border-bottom: 1px solid #888;
}

.item h2 {
    font-size: 1.5em;
    margin: 1rem 0;
}